<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Digital Ethnic Futures </title>
	<link rel="stylesheet" href="./css/front-styles.css" media="all">
	<link rel="stylesheet" href="./css/style.css" media="all">
	<link rel="stylesheet" href="./css/bradava.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery-migrate.min.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<noscript>
		<style>
			*{
				font-family: 'Montserrat', sans-serif!important;
			}
			.cryout .cryout-preloader {
				display: none;
			}

			.cryout img[loading="lazy"] {
				opacity: 1;
			}
		</style>
	</noscript>
	<link rel="icon"
		href="./images/fav/fav-32x32.png"
		sizes="32x32">
	<link rel="icon"
		href="./images/fav/fav-192x192.png"
		sizes="192x192">
	<link rel="apple-touch-icon"
		href="./images/fav/fav-180x180.png">
</head>

<body
	class="home page-template-default page page-id-2 wp-custom-logo wp-embed-responsive is_chrome bravada-landing-page bravada-image-none bravada-caption-one bravada-totop-normal bravada-stripped-table bravada-over-menu bravada-menu-right bravada-topsection-normal bravada-cropped-headerimage bravada-fullscreen-headerimage bravada-responsive-featured bravada-magazine-one bravada-magazine-layout bravada-comhide-in-posts bravada-comhide-in-pages bravada-comment-placeholder bravada-comment-icons bravada-normalizedtags bravada-animated-title bravada-lazy-noanimation bravada-article-animation-fade"
	itemscope="" itemtype="http://schema.org/WebPage">
	<a class="skip-link screen-reader-text" href="./main" title="Skip to content"> Skip
		to content </a>

	<div id="site-wrapper">

		<header id="masthead" class="cryout" itemscope="" itemtype="http://schema.org/WPHeader">

			<div id="site-header-main">

				<div class="site-header-top">

					<div class="site-header-inside">

						<div id="header-menu" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
						</div><!-- #header-menu -->

					</div><!-- #site-header-inside -->

				</div><!--.site-header-top-->

				<nav id="mobile-menu" tabindex="-1" class="">
					<div class="side-menu side-section">
						<ul id="mobile-nav" class=" accessibility_menu">
							<li class="menu-main-search" style="transition-delay: 0s;">
								<a href="http://digitalethnicfutures.org/"><i class="icon-search2"></i><span
										class="screen-reader-text">Search</span></a>
								<form role="search" class="searchform">
									<label>
										<span class="screen-reader-text">Search for:</span>
										<input type="search" class="s" placeholder="Search" value="" name="s" size="10">
									</label>
									<button type="submit" class="searchsubmit"><span
											class="screen-reader-text">Search</span><i class="icon-search2"></i><i
											class="icon-search2"></i></button>
								</form>

								<i class="icon-cancel"></i>
							</li>
							<li id="menu-item-161"
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-161"
								style="transition-delay: 0.03s;"><a href="./"
									aria-current="page"><span>Home</span></a></li>
							<li id="menu-item-154"
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"
								style="transition-delay: 0.06s;"><a
									href="#"><span>QueryCompanion</span></a></li>
							<li id="menu-item-155"
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"
								style="transition-delay: 0.09s;"><a
									href="#"><span>SiteSearch Companion</span></a></li>
							<li id="menu-item-159"
								class="menu-item menu-item-type-post_type menu-item-object-page menu-item-159"
								style="transition-delay: 0.24s;"><a
									href="#"><span>Contact</span></a></li>
						</ul>
					</div>
				</nav> <!-- #mobile-menu -->

				<div class="site-header-bottom">

					<div class="site-header-bottom-fixed">

						<div class="site-header-inside">

							<div id="branding">
								<div class="identity"><a href="./" id="logo"
										class="custom-logo-link" title="Digital Ethnic Futures " rel="home"
										aria-current="page"><img src="./images/IMG_7077-removebg-preview.png"
											class="custom-logo" alt="Digital Ethnic Futures "
											srcset="./images/IMG_7077-removebg-preview.png 501w, ./images/IMG_7077-removebg-preview-300x89.png 300w, ./images/IMG_7077-removebg-preview-421x124.png 421w"
											sizes="(max-width: 501px) 100vw, 501px"></a></div>
								<div id="site-text">
									<h1 itemprop="headline" id="site-title"><span> <a
												href="./" title="" rel="home">Digital
												Ethnic Futures </a> </span></h1><span id="site-description"
										itemprop="description"></span>
								</div>
							</div><!-- #branding -->

							<div class="menu-burger">
								<button class="hamburger" type="button">
									<span></span>
									<span></span>
									<span></span>
								</button>
							</div>

							<nav id="access" aria-label="Top Menu" itemscope=""
								itemtype="http://schema.org/SiteNavigationElement">
								<div>
									<ul id="top-nav" class=" accessibility_menu">
										<li id="menu-item-162"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item menu-item-162">
											<a href="./"
												aria-current="page"><span>Home</span></a>
										</li>
										<li id="menu-item-145"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145">
											<a href="#"><span>Query Companion</span></a>
										</li>
										<li id="menu-item-144"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144">
											<a href="#"><span>SiteSearch Companion</span></a>
										</li>
										
										<li id="menu-item-140"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140">
											<a href="#"><span>Contact</span></a>
										</li>
									</ul>
								</div>
							</nav><!-- #access -->


						</div><!-- #site-header-inside -->

					</div><!-- #site-header-bottom-fixed -->

				</div><!--.site-header-bottom-->

			</div><!-- #site-header-main -->

			<div id="header-image-main">
				<div id="header-image-main-inside">
					<a href="./#lp-text-one" class="meta-arrow" tabindex="-1">
						<img src="./icons/chevron-down-solid.svg" width="20" alt="">
						<i class="icon-arrow" title="Read more"></i>
					</a>
				</div><!-- #header-image-main-inside -->
			</div><!-- #header-image-main -->

		</header><!-- #masthead -->


		<div id="content" class="cryout">

			<div id="container" class="bravada-landing-page one-column">
				<main id="main" class="main">
					<section class="lp-slider">

						<div class="lp-staticslider">
							<img class="lp-staticslider-image" alt="Digital Ethnic Futures Consortium"
								src="./images/cropped-galaxy-g398f77feb_1280.jpg">
							<div class="staticslider-caption animated-title">
								<div class="staticslider-caption-inside">
									<h2 class="staticslider-caption-title"><span>Enter your prompt here</span></h2>
									<span class="staticslider-sep"></span>
									<!-- <h6 class="text-left lp-text-title">Enter your prompt here</h6> -->
									<style>
										.search-contianer{
											display: flex;
											max-width: 700px;
										}
									</style>
									<form class="myForm" action="/getRequest" method="post">
										<div class="search-contianer lp-text-content">
											<input placeholder="Eg: Tell me about digital humanities." type="text" name="userPrompt" id="userPrompt" class="form-control" style="width: 100%;">
											<button id="submitBtn">Submit</button>
										</div>
									</form>
								</div>
							</div>
							<a href="./#lp-text-one" class="meta-arrow" tabindex="-1">
								<i class="icon-arrow" title="Read more"></i>
							</a>
						</div><!-- .lp-staticslider -->

					</section>
				</main><!-- #main -->
			</div><!-- #container -->


			<aside id="colophon" itemscope="" itemtype="http://schema.org/WPSideBar">
				<div id="colophon-inside" class="footer-three ">

					<section id="block-20" class="widget-container widget_block widget_media_image">
						<div class="footer-widget-inside">
							<figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="363"
									src="./images/Mellon_Logomark_Lockup_White-1024x363.png" alt="" class="wp-image-639"
									srcset="./images/Mellon_Logomark_Lockup_White-1024x363.png 1024w, ./images/Mellon_Logomark_Lockup_White-300x106.png 300w, ./images/Mellon_Logomark_Lockup_White-768x272.png 768w, ./images/Mellon_Logomark_Lockup_White-1536x544.png 1536w, ./images/Mellon_Logomark_Lockup_White-2048x726.png 2048w, ./images/Mellon_Logomark_Lockup_White-496x176.png 496w, ./images/Mellon_Logomark_Lockup_White-310x110.png 310w"
									sizes="(max-width: 1024px) 100vw, 1024px"></figure>
						</div>
					</section>
					<section id="block-19" class="widget-container widget_block widget_media_image">
						<div class="footer-widget-inside">
							<figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="254"
									src="./images/neh_transparent-2-1024x254.png" alt="" class="wp-image-272"
									srcset="./images/neh_transparent-2-1024x254.png 1024w, ./images/neh_transparent-2-300x74.png 300w, ./images/neh_transparent-2-768x190.png 768w, ./images/neh_transparent-2-1536x381.png 1536w, ./images/neh_transparent-2-583x145.png 583w, ./images/neh_transparent-2-310x77.png 310w, ./images/neh_transparent-2.png 1968w"
									sizes="(max-width: 1024px) 100vw, 1024px"></figure>
						</div>
					</section>
					<section id="block-13" class="widget-container widget_block widget_media_image">
						<div class="footer-widget-inside">
							<figure class="wp-block-image size-large"><img loading="lazy" width="1024" height="380"
									src="./images/imls_logo_white-1024x380.png" alt="" class="wp-image-265"
									srcset="./images/imls_logo_white-1024x380.png 1024w, ./images/imls_logo_white-300x111.png 300w, ./images/imls_logo_white-768x285.png 768w, ./images/imls_logo_white-1536x570.png 1536w, ./images/imls_logo_white-2048x760.png 2048w, ./images/imls_logo_white-583x216.png 583w, ./images/imls_logo_white-310x115.png 310w"
									sizes="(max-width: 1024px) 100vw, 1024px"></figure>
						</div>
					</section>
				</div>
			</aside><!-- #colophon -->
		</div><!-- #main -->

		<footer id="footer" class="cryout" itemscope="" itemtype="http://schema.org/WPFooter">
			<a id="toTop" class=""><span class="screen-reader-text">Back to Top</span><i class="">&UpArrow;</i> </a>
			<div id="footer-top">
				<div class="footer-inside">
					<div id="site-copyright"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img
								alt="Creative Commons License" style="border-width:0" src="./images/80x15.png"></a>
						Content on this site is licensed
						under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</div>
				</div><!-- #footer-inside -->
			</div><!--#footer-top-->
			<div id="footer-bottom">
				<div class="footer-inside">
				</div> <!-- #footer-inside -->
			</div><!--#footer-bottom-->
		</footer>
	</div><!-- site-wrapper -->
	<style>
		#open_sogoacc {
			background: #0780C3;
			color: #FFF;
			border-bottom: 1px solid #0780C3;
			border-right: 1px solid #0780C3;
		}

		#close_sogoacc {
			background: #0780C3;
			color: #fff;
		}

		#sogoacc div#sogo_font_a button {
			color: #0780C3;

		}

		body.sogo_readable_font * {
			font-family: "Arial", sans-serif !important;
		}

		body.sogo_underline_links a {
			text-decoration: underline !important;
		}
	</style>

	<script id="cryout_ajax_more-js-extra">
		var cryout_ajax_more = { "page_number_next": "2", "page_number_max": "3", "page_link_model": "http:\/\/digitalethnicfutures.org\/page\/9999999\/", "load_more_str": "More Posts", "content_css_selector": "#lp-posts .lp-posts-inside", "pagination_css_selector": "#lp-posts nav.navigation" };
	</script>

	<script id="cryout_ajax_more-js-extra">
		var cryout_ajax_more = { "page_number_next": "2", "page_number_max": "3", "page_link_model": "http:\/\/digitalethnicfutures.org\/page\/9999999\/", "load_more_str": "More Posts", "content_css_selector": "#lp-posts .lp-posts-inside", "pagination_css_selector": "#lp-posts nav.navigation" };
	</script>

	<script id="bravada-frontend-js-extra">
		var cryout_theme_settings = { "masonry": "1", "rtl": "", "magazine": "1", "fitvids": "1", "autoscroll": "1", "articleanimation": "fade", "lpboxratios": [310, 1.3770000000000000017763568394002504646778106689453125], "is_mobile": "", "menustyle": "0" };
	</script>

	<script src="./js/ajax.js"></script>
	<script src="./js/dtgsnonce.js"></script>
	<script src="./js/core.min.js"></script>
	<script src="./js/datepicker.min.js"></script>
	<script src="./js/swiper.min.js"></script>
	<script src="./js/anime.min.js"></script>
	<script src="./js/ScrollMagic.min.js"></script>
	<script src="./js/animation.anime.min.js"></script>
	<script src="./js/jarallax.min.js"></script>
	<script src="./js/jarallax-video.min.js"></script>
	<script src="./js/ResizeObserver.global.min.js"></script>
	<script src="./js/kiokenblocks-min.js"></script>
	<script src="./js/navigation.js"></script>
	<script src="./js/sogo-accessibility-public.js"></script>
	<script src="./js/wp-embed.min.js"></script>
	<script defer="" src="./js/frontend.js"></script>
	<script src="./js/imagesloaded.min.js"></script>
	<script defer="" src="./js/masonry.min.js"></script>
	<script defer="" src="./js/jquery.masonry.min.js"></script>
	<script src="jquery-3.6.0.js"></script>
    <script src="script.js"></script>
</html>